h1{
  text-align: center;
  margin-top: 4%;
}

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


#map{
  position: absolute;
  width: 90%;
  height: 600px;
  margin: 0 auto;
  top :0;
  right:0;
  bottom:0;
  left:0;
  border: 10px solid #a58f7d;

}
